<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="SchoolOrderMapper">
	<!-- 字段 -->
	<sql id="Field">
		order_id,
		order_num,
		school_id,
		school_name,
		subject_type,
		two_type,
		major_name,
		student_phone,
		student_name,
		student_id,
		remark,
		state,
		money,
		wjtution,
		tution,
		probation_day,
		studay,
		pay_way,
		created,
		update_time,
		create_time,
		sjmoney,
		zqstate
	</sql>
	<!-- 字段值 -->
	<sql id="FieldValue">
		#{order_id},
		#{order_num},
		#{school_id},
		#{school_name},
		#{subject_type},
		#{two_type},
		#{major_name},
		#{student_phone},
		#{student_name},
		#{student_id},
		#{remark},
		#{state},
		#{money},
		#{wjtution},
		#{tution},
		#{probation_day},
		#{studay},
		#{pay_way},
		#{created},
		#{update_time},
		#{create_time},
		#{sjmoney},
		#{zqstate}
	</sql>
	
	<!--表名 -->
	<sql id="tableName">
		tb_order
	</sql>
	<sql id="sTableName">
		tb_school
	</sql>
	<select id="schoolOrderlistPage" parameterType="page" resultType="pd">
		select
			*
		from
		<include refid="tableName"></include>
		<where>
		 <if test="pd.school_id!= null and pd.school_id != ''">
			school_id=#{pd.school_id} 
	    </if>
	     <if test="pd.state != null and pd.state != ''"><!-- 状态检索 -->
		 and state=#{pd.state} 
		</if>
	 <if test="pd.keywords!= null and pd.keywords != ''"><!-- 关键词检索 -->
			and
			(order_num LIKE CONCAT(CONCAT('%', #{pd.keywords}),'%')
			or
		    student_name LIKE CONCAT(CONCAT('%', #{pd.keywords}),'%')
		    or
		    school_name LIKE CONCAT(CONCAT('%', #{pd.keywords}),'%')
		    )
	  </if>
	    </where> 
	    order by created  desc
	</select>
	
	<!-- 根据id查询 -->
	<select id="findSchoolOrderById" parameterType="pd" resultType="pd">
	  select
		<include refid="Field"></include>
	  from
		<include refid="tableName"></include>
	 where order_id=#{order_id}	
	</select>
	<!-- 更新 -->
		<update id="editC" parameterType="pd" >
		update  <include refid="tableName"></include>
			set 
				state      =#{state},
			    updated    =#{updated}
			where 
				order_id   = #{order_id}
	</update>
	
	<!-- 统计收了多少试读费 -->
	
	<select id="getZjMoney" parameterType="pd" resultType="Integer">
		select 
			sum(sjmoney) gCount
		from 
		<include refid="tableName"></include>
		<where>
		 <if test="school_id!= null and school_id != ''">
			school_id=#{school_id} 
	    </if>
	    </where>
	</select>
</mapper>